				<h2><a href="index.cshtml">Go Away.</a></h2>
				
                <p>You are seeing this because I don't want you to see anything else.
                    <blockquote><p>Get Out.</p></blockquote>
                </p>
				
				<p class="post-footer align-right">					
					<span class="date">@DateTime.Now</span>	
				</p>